<!DOCTYPE html>
<html lang="en">
        <%- include("utils/head.ejs") %>
<body>
    <%- include("utils/navbar.ejs") %>
    <div class="container">
        <h1>Asosiy sahifa</h1>
        <h5>Foydalanuvchilar malumoti</h5>
         <%- include("utils/data.ejs") %>

    </div>


<%- include("utils/footer.ejs") %>